---
// src/components/navbar/RecursiveMenu.astro
import type { NavigationItem } from "@lib/types/custom-page";

interface Props {
    items: NavigationItem[];
    isRoot?: boolean;
}

const { items, isRoot = false } = Astro.props;
---

<ul
    class:list={[
        { menu: isRoot },
        "bg-base-100",
        { "w-full": isRoot },
        { "rounded-box": isRoot },
        { "border border-base-content/10": isRoot },
    ]}
>
    {
        items.map((item) => {
            const hasChildren = item.children && item.children.length > 0;
            // The `item.path` from backend NavigationItem is None for groups,
            // and a direct, correctly formatted path for pages.
            console.log("item.title:", item.title, " item.path:", item.path);
            const path = item.path?.endsWith("/") ? item.path : item.path + "/";

            return (
                <li>
                    {hasChildren ? (
                        <details open={false}>
                            <summary>
                                {item.icon && (
                                    <i class={`fa-solid fa-${item.icon} `} />
                                )}
                                {item.title}
                            </summary>
                            <Astro.self items={item.children} />
                        </details>
                    ) : path && item.path ? (
                        <a href={path}>
                            {item.icon && (
                                <i class={`fa-solid fa-${item.icon} `} />
                            )}
                            {item.title}
                        </a>
                    ) : item.path === null ? (
                        <details open={false}>
                            <summary>
                                {item.icon && (
                                    <i class={`fa-solid fa-${item.icon} `} />
                                )}
                                {item.title}
                            </summary>
                        </details>

                    ) : (
                        <span>
                            {item.icon && (
                                <i class={`fa-solid fa-${item.icon} `} />
                            )}
                            {item.title} (Grupo sem link direto)
                        </span>
                    ) }
                </li>
            );
        })
    }
</ul>
