---
import Layout from "@layouts/Layout.astro";
import Collapse from "@components/common/Collapse.svelte";

import "@styles/form.css";
import { Locations } from "@lib/types/locations";
import { WorkContractTypes } from "@lib/types/work-contracts";
import SearchBar from "@components/contracts/SearchBar.astro";
import DatePicker from "@components/common/DatePicker.svelte";
import WorkContractsTableLoader from "@components/work-contracts/WorkContractsTableLoader.svelte";
---

<Layout title="Contratos de Funcionários">
  <div class="flex items-center justify-between mb-7 gap-4">
    <div
      class="flex max-md:flex-col bg-base-100 gap-4 p-2 rounded-md shadow-sm border border-zinc-300"
    >
      <label class="select min-w-[230px] max-sm:min-w-auto clear">
        <span class="label">Local</span>
        <select required form="work-contract-form" name="location">
          <option disabled selected hidden value="">Local</option>
          {Locations.map((l, i) => <option value={i}>{l}</option>)}
        </select>
      </label>
      <label class="select min-w-[230px] max-sm:min-w-auto clear">
        <span class="label">Tipo</span>
        <select required form="work-contract-form" name="type_of_contract">
          <option disabled selected hidden value="">Tipo</option>
          {WorkContractTypes.map((c, i) => <option value={i}>{c}</option>)}
        </select>
      </label>
    </div>
    <SearchBar />
  </div>

  <Collapse client:load>
    <span slot="title">Upload</span>
    <form
      slot="content"
      id="work-contract-form"
      class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-2 rounded-sm shadow-sm"
    >
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Nome do Funcionário:</legend>
        <input
          required
          type="text"
          class="input"
          placeholder="Nome do Funcionário"
          name="employee_name"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">NIF:</legend>
        <input
          required
          type="number"
          min="0"
          class="input"
          placeholder="Numero de Identificação Fiscal"
          name="nif"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Data Início:</legend>
        <DatePicker client:load range={false} formName="start_date" />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Data Fim (opcional):</legend>
        <DatePicker
          client:load
          range={false}
          required={false}
          formName="end_date"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Categoria:</legend>
        <select class="select" name="category_id" required>
          <option disabled selected hidden value=""
            >Selecione uma Categoria</option
          >
        </select>
        <div
          id="category-loading"
          class="absolute inset-0 flex items-center justify-center bg-base-100/80"
        >
          <span class="loading loading-bars loading-md"></span>
        </div>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Ficheiros:</legend>
        <input
          type="file"
          class="file-input"
          id="files-input"
          accept="image/*,.doc,.docx,.xls,.xlsx,.pdf"
          required
          multiple
        />
      </fieldset>

      <fieldset class="fieldset sm:col-span-2">
        <legend class="fieldset-legend">Descrição (opcional):</legend>
        <textarea
          class="textarea w-full min-h-[80px]"
          placeholder="Informação adicional sobre este contrato..."
          name="description"></textarea>
      </fieldset>

      <div class="flex justify-between sm:col-span-2">
        <button type="reset" class="btn btn-error">Limpar</button>
        <button type="submit" class="btn btn-primary">
          <span class="hidden loading loading-bars loading-md"></span>
          <span id="submit-text">Enviar</span>
        </button>
      </div>
    </form>
  </Collapse>
  <Collapse client:load>
    <span slot="title">Lista de Contratos</span>
    <div slot="content">
      <WorkContractsTableLoader client:load />
    </div>
  </Collapse>
</Layout>

<script>
  import { getWorkContractCategories, uploadWorkContract } from "@api/utils";
  import { AlertPosition, AlertType, showAlert } from "@components/alert/alert";
  import { Locations } from "@lib/types/locations";
  import {
    WorkContractTypes,
    type WorkContract,
  } from "@lib/types/work-contracts";
  import { elementsToToggle } from "@stores/loading-stores";
  import { categories, newWorkContract } from "@stores/work-contract-stores";
  import { DMYToDate } from "@utils/date-utils";
  import { toSearchString } from "@utils/search-utils";

  document.addEventListener("astro:page-load", async () => {
    if (
      window.location.pathname !== "/recursos-humanos/contratos-funcionarios/"
    )
      return;

    const locationSelect = document.querySelector(
      "select[name='location']"
    ) as HTMLSelectElement;
    const typeSelect = document.querySelector(
      "select[name='type_of_contract']"
    ) as HTMLSelectElement;

    const filesInput = document.getElementById(
      "files-input"
    ) as HTMLInputElement;

    const selects = document.querySelectorAll(".select");
    for (let i = 2, len = selects.length; i < len; i++) {
      selects[i].addEventListener("change", (e) => {
        // @ts-ignore
        e.currentTarget.style.opacity = "1";
      });
    }

    const submitButton = document.querySelector(
      ".btn-primary"
    ) as HTMLButtonElement;
    const loading = submitButton.querySelector(".loading")!;
    const submitText = submitButton.querySelector("#submit-text")!;

    elementsToToggle.set([loading, submitText]);

    const categorySelect = document.querySelector(
      "select[name='category_id']"
    ) as HTMLSelectElement;

    const categoryLoading = document.getElementById("category-loading")!;

    const workCategories = await getWorkContractCategories();
    if (workCategories) {
      categories.set(workCategories);
      for (const [id, category] of Object.entries(workCategories)) {
        const option = document.createElement("option");
        option.value = id.toString();
        option.textContent = category.name;
        categorySelect.appendChild(option);
      }
      categoryLoading.classList.toggle("hidden");
    }

    document
      .getElementById("work-contract-form")!
      .addEventListener("submit", async (e) => {
        e.preventDefault();

        if (!workCategories) {
          showAlert(
            "Não existem categorias de contratos de trabalho, adicione em Categorias Profissionais.",
            AlertType.ERROR,
            AlertPosition.TOP
          );
          return;
        }

        const form = e.currentTarget as HTMLFormElement;

        loading.classList.toggle("hidden");
        submitText.classList.toggle("hidden");

        const formData = new FormData(form);
        if (formData.get("end_date") === "") {
          formData.delete("end_date");
        }

        for (let i = 0, len = filesInput.files!.length; i < len; i++) {
          const file = filesInput.files![i];
          formData.append("files", file, `${file.name}_${file.size}`);
        }

        const [ok, workContractId, fileId] = await uploadWorkContract(formData);

        if (ok) {
          setNewWorkContract(formData, workContractId, fileId);
          form.reset();
          showAlert(
            "Contrato de trabalho adicionado com sucesso.",
            AlertType.SUCCESS,
            AlertPosition.TOP
          );
        } else {
          showAlert(
            "Erro ao adicionar contrato de trabalho.",
            AlertType.ERROR,
            AlertPosition.TOP
          );
        }
        loading.classList.toggle("hidden");
        submitText.classList.toggle("hidden");
      });

    function setNewWorkContract(
      formData: FormData,
      workContractId: number,
      fileId: number
    ): void {
      const dateStartString = formData.get("start_date") as string;
      const dateStart = DMYToDate(dateStartString);

      const dateEndString = formData.get("end_date") as string;
      const dateEnd = dateEndString ? DMYToDate(dateEndString) : undefined;

      const createdAt = new Date().toLocaleString("pt-PT");

      const employeeName = formData.get("employee_name") as string;
      const __searchEmployeeName = toSearchString(employeeName);

      const nif = formData.get("nif") as string;

      const locationValue = parseInt(locationSelect!.value, 10);
      const location = Locations[locationValue];
      const __searchLocation = toSearchString(location);

      const typeValue = parseInt(typeSelect!.value, 10);
      const type = WorkContractTypes[typeValue];
      const __searchType = toSearchString(type);

      const categoryId = parseInt(formData.get("category_id") as string, 10);
      const category = workCategories![categoryId].name;
      const __searchCategory = toSearchString(category);

      const description = formData.get("description") as string | null;
      const __searchDescription = description
        ? toSearchString(description)
        : undefined;

      const workContract: WorkContract = {
        employeeName,
        nif,
        dateStart,
        dateEnd,
        location,
        type,
        category,
        description: description === null ? undefined : description,
        createdAt,
        updatedAt: createdAt,

        categoryId,
        dateStartString,
        dateEndString,
        typeValue,
        locationValue,

        files: {},

        __searchEmployeeName,
        __searchLocation,
        __searchType,
        __searchCategory,
        __searchDescription,
      };

      const files = formData.getAll("files") as File[];
      for (let i = 0, len = files.length; i < len; i++) {
        const file = files[i];
        workContract.files[fileId + i] = {
          name: file.name,
          path: `media/work-contracts/${workContractId}/${file.name}`,
          uploadedAt: createdAt,
        };
      }
      newWorkContract.set({ id: workContractId, workContract });
    }
  });
</script>

<style>
  @media (max-width: 40rem) {
    .label {
      display: none;
    }
  }
</style>
