---
import Layout from "@layouts/Layout.astro";
import Collapse from "@components/Collapse.svelte";
import SearchBar from "@components/SearchBar.astro";
import DatePicker from "@components/DatePicker.svelte";
import {
  ContractServices,
  ContractLocations,
  ContractStatus,
  ContractTypes,
} from "@lib/types/contracts";
---

<Layout title="Contratos">
  <div class="flex items-center justify-between mb-7 gap-4">
    <div
      class="flex max-md:flex-col bg-base-100 gap-4 p-2 rounded-md shadow-sm border border-zinc-300"
    >
      <label class="select min-w-[230px] max-sm:min-w-auto">
        <span class="label">Contrato</span>
        <select required form="contract-form" name="service">
          <option disabled selected hidden value="">Contrato</option>
          {ContractServices.map((c, i) => <option value={i}>{c}</option>)}
        </select>
      </label>
      <label class="select min-w-[230px] max-sm:min-w-auto">
        <span class="label">Local</span>
        <select required form="contract-form" name="location">
          <option disabled selected hidden value="">Local</option>
          {ContractLocations.map((l, i) => <option value={i}>{l}</option>)}
        </select>
      </label>
    </div>
    <SearchBar />
  </div>

  <Collapse client:load title="Upload">
    <form
      id="contract-form"
      class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-2 rounded-sm shadow-sm"
    >
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Fornecedor:</legend>
        <input
          required
          type="text"
          class="input"
          placeholder="Fornecedor"
          name="supplier"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Número de Contrato:</legend>
        <input
          required
          type="text"
          class="input"
          placeholder="Número de Contrato"
          name="contract-number"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Data:</legend>
        <DatePicker client:load range={false} formName="date" />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Data Início - Fim:</legend>
        <DatePicker client:load range={true} formName="date-range" />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Tipo:</legend>
        <select class="select" name="type" required>
          <option disabled selected hidden value="">Selecione um Tipo</option>
          {ContractTypes.map((t, i) => <option value={i}>{t}</option>)}
        </select>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Status:</legend>
        <select class="select" name="status" required>
          <option disabled selected hidden value="">Selecione o Estado</option>
          {ContractStatus.map((s, i) => <option value={i}>{s}</option>)}
        </select>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Descrição:</legend>
        <textarea
          required
          class="textarea"
          placeholder="Descrição"
          name="description"></textarea>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Ficheiros</legend>
        <input type="file" class="file-input" name="files" required multiple />
      </fieldset>

      <div class="flex justify-between sm:col-span-2">
        <button type="reset" class="btn btn-error">Limpar</button>
        <button type="submit" class="btn btn-primary">
          <span class="hidden loading loading-bars loading-md"></span>
          <span id="submit-text">Enviar</span>
        </button>
      </div>
    </form>
  </Collapse>
</Layout>

<script>
  import { uploadContract } from "@api/utils";
  import { showAlert, AlertPosition, AlertType } from "@components/Alert/Alert";
  import { elementsToToggle } from "@stores";

  document.addEventListener("astro:page-load", () => {
    const selects = document.querySelectorAll(".select");
    for (let i = 0, len = selects.length; i < len; i++) {
      selects[i].addEventListener("change", (event) => {
        // @ts-ignore
        event.currentTarget.style.opacity = "1";
      });
    }

    const submitButton = document.querySelector(
      ".btn-primary"
    )! as HTMLButtonElement;
    const loadingBars = submitButton.querySelector(".loading")!;
    const submitText = submitButton.querySelector("#submit-text")!;

    elementsToToggle.set([loadingBars, submitText]);

    (
      document.getElementById("contract-form")! as HTMLFormElement
    ).addEventListener("submit", async (e) => {
      e.preventDefault();

      const form = e.currentTarget as HTMLFormElement;

      loadingBars.classList.toggle("hidden");
      submitText.classList.toggle("hidden");

      const formData = new FormData(form);
      const ok = await uploadContract(formData);

      if (ok) {
        loadingBars.classList.toggle("hidden");
        submitText.classList.toggle("hidden");
        showAlert(
          "Contrato enviado com sucesso!",
          AlertType.SUCCESS,
          AlertPosition.TOP
        );
        form.reset();
      } else {
        loadingBars.classList.toggle("hidden");
        submitText.classList.toggle("hidden");
        showAlert(
          "Erro ao enviar o contrato. Por favor, tente novamente.",
          AlertType.ERROR,
          AlertPosition.TOP
        );
      }
    });
  });
</script>

<style>
  .input:hover::placeholder,
  .textarea:hover::placeholder {
    color: var(--color-base);
  }

  input,
  .textarea,
  .select {
    width: 100%;
  }

  .select:hover,
  .textarea:hover,
  .select:focus,
  input:focus,
  input:hover {
    border-color: var(--color-secondary);
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    opacity: 1;
  }

  @media (max-width: 40rem) {
    .label {
      display: none;
    }

    .fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .fieldset-legend {
      align-self: flex-start;
      margin-left: 5%;
      width: auto;
    }

    input,
    .textarea,
    .select {
      width: 90%;
    }
  }
</style>
